use Mix.Config

config :neoboard, Neoboard.Widgets.Notepad,
  url: "https://internal.company.com/announcements",
  every: 10000,
  title: "Neopad",
  info: "Edit via orga/wiki/DashboardNotepad"

config :neoboard, Neoboard.Widgets.Jenkins,
  url: "http://jenkins.company.com/api/json",
  every: 10000,
  failed_color: "red"

config :neoboard, Neoboard.Widgets.Time,
  every: 1000

config :neoboard, Neoboard.Widgets.NichtLustig,
  url: "http://static.nichtlustig.de/comics/full/",
  base: "http://static.nichtlustig.de/comics/full/~s.jpg",
  every: 300_000

config :neoboard, Neoboard.Widgets.RedmineProjectTable,
  url: "https://redmine.company.com/projects/the_project/issues/gantt.png?month=~s&months=4&query_id=18&year=~s&zoom=2&r=~s",
  every: 300_000,
  title: "Timetable"

config :neoboard, Neoboard.Widgets.Gitter,
  room: "cryptic_room_id",
  token: "your_access_token",
  messages: 10,
  every: 10_000,
  title: "gitter.im/yourRoom"