@import "normalize"
@import "config"
@import "mixins"

*
  box-sizing: border-box

body
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1.1rem

.WidgetContainer
  display: flex
  flex-wrap: wrap
  justify-content: center

@import "widgets/time"
@import "widgets/jenkins"
@import "widgets/notepad"
