@import calendar/react-big-calendar

.CalendarWidget
  $backgroundColor: #254763
  $borderColor: #667E91
  $borderSize: 1px

  +widget
  background: $backgroundColor
  font-size: 12px

  .rbc-calendar
    height: 100%
    padding: 10px

  .rbc-header
    color: $white
    font-size: 100%

  .rbc-date-cell
    padding-top: 5px
    a
      color: $white

  .rbc-off-range a
    color: $halfWhite

  .rbc-today
    background-color: darken($backgroundColor, 5%)

  .rbc-event
    background-color: lighten($backgroundColor, 20%)
    color: $white

  .rbc-show-more
    background-color: lighten($backgroundColor, 10%)
    border-radius: 5px
    padding: 2px 5px
    color: $white
    text-decoration: none
    font-size: 100%
    font-weight: normal

  .rbc-overlay
    .rbc-event
      border-radius: 5px

  .rbc-label
    color: $white

  .rbc-time-slot
    border: none

  .rbc-agenda-view
    color: $white

  .rbc-agenda-event-cell
    text-align: left

  .rbc-toolbar
    justify-content: space-between

    button
      outline: none
      border-radius: 0
      border: none
      background: none!important
      box-shadow: none
      color: $halfWhite

      &.rbc-active
        color: $white

      &.rbc-btn-today
        width: 200px
        color: $white

  .rbc-month-view,
  .rbc-month-view .rbc-header,
  .rbc-month-view .rbc-header + .rbc-header,
  .rbc-month-row + .rbc-month-row,
  .rbc-day-bg + .rbc-day-bg,
  .rbc-time-content > * + * > *,
  .rbc-agenda-view table thead > tr > th,
  .rbc-agenda-view table tbody > tr > td + td,
  .rbc-agenda-view table tbody > tr > td + td
    border-color: $borderColor
