$backgroundBlur: 16px

.OwncloudImagesWidget
  +widget
  background: $background

  .empty
    color: $halfWhite

  .image, .image > div
    height: 100%
    width: 100%

  .image > div
    position: absolute
    top: 0
    left: 0

  .background
    position: absolute
    top: 0
    left: 0
    width: 400px + $backgroundBlur*2
    height: 400px + $backgroundBlur*2
    overflow: hidden
    transform: translateX(-$backgroundBlur) translateY(-$backgroundBlur)
    img
      opacity: 0.5
      width: 100%
      height: 100%
      +filter(blur($backgroundBlur) brightness(0.75))
      z-index: 1

  .foreground
    z-index: 2
    position: relative
    width: 100%
    height: 100%
    img
      position: relative
      width: auto
      height: auto
      max-height: 100%
      max-width: 100%
      top: 50%
      transform: translateY(-50%)

  .legend
    position: absolute
    bottom: 10px
    left: 0
    width: 100%
    color: $white
    font-size: 0.7rem
    text-align: carousel-enter
    z-index: 3
    text-shadow: 0 2px 3px $halfBlack
    .path
      margin-right: 10px
